/* Background Pattern Found at Link Below
https://codepen.io/poonam-adlakha/pen/qBorjWY */

html {
  background-size: 100px 100px;
  background-position: 0 0, 25px 25px, 50px 50px;
  text-align: center;
}

body {
  background: radial-gradient(
    #bfd8b8 10px,
    white 19px 14px,
    #bfd5a8 1px
  );
  background-size: 100px 100px 
}

h1,
h2 {
  background-color: #bfd3e8;
  border-radius: 20px;
  color: white;
  width: 600px;
  margin: auto;
  margin-bottom: 5px;
  font-family: sans-serif;
}
#myCanvas {
  border: 5px solid #bfd3e8;
  border-radius: 30px;
}
